{% extends "learning/base.html" %}
{% block content %}
<div class="container">
    <br><hr>
    <div class="row">
        
        {% for pteachers in pteacher %}
        <div class="col-lg-6">
            <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; width: auto;">
                <div class="card-body">
                    <img href=""><br>
                    <img class="img-fluid" src="{{pteachers.pic.url}}" style="width: 200px; height: 200px; border-radius: 100px;"><br>
                    <p class="text-muted mt-3">نام: {{ pteachers.fname }}</p>
                    <p class="text-muted">نام خانوادگی: {{pteachers.lname}} </p>
                    <p class="text-muted">توضیحات: {{pteachers.info}}</p>
                    <p class="text-muted">سطح: {{pteachers.level}}</p>
                    <p class="text-muted">سن: {{pteachers.age}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}