{% extends "learning/base.html" %}
{% load static %}

{% block headerimg %}

<img class="img-fluid" src="{% static 'pic/pexels-pixabay-301920.jpg' %}">
{% endblock %}

{% block content %} 
<br><br><hr>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-6 p-3 ml-2 col-sm-1">
            <h3>درباره اموزشگاه</h3>
            <h6 class="text-muted">اموزشگاه مسیر رشد اموزشگاهی برای یادگیری زبان اینگلیسی و حرف زدن و یادگیری تمامی گرامر یکی از مزیت های اموزشگاه مسیر رشد استفاده از دانشجویان خود بعد از ارتقای سطح و یادگیری در حد لازم به معلمی و تدرس است</h6>

        </div>
    <div class="col-lg-5 p-3 col-md-5 col-sm-1">
        <h3>درباره یادگیری</h3>
        <h6 class="text-muted">یادگیری زبان مانند یادگیری کودک</h6>
        <h6 class="text-muted">اموزش اسپیکینگ</h6>
        <h6 class="text-muted">اموزش گرامر</h6>
        <h6 class="text-muted">اموزش تست زدن برای کنکور</h6>
        <h4 class="">و از همه مهم تر</h4>
        <h6 class="text-muted">برگزاری کلاس های ttc و اموزش معلمی با مدرک معتبر برای تدرس و اموزش</h6>
    </div>
</div>
<section class="mb-4">
<div class="container">
    <br><br><h4 class="text-left">لیست درس ها</h4><hr>
<div class="row">

{% for cours in Course %}
<div class="col-sm-1 col-md-5 col-lg-3">
    <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; border-radius: 10px; width: auto; height: 385px;">
  <div class="card-body">
    <h5 class="card-title mb-3">اسم دوره: {{cours.name}}</h5>
    <h6 class="card-subtitle mb-2 ">نام مدرس: <a href="{% url 'learning:professor' cours.user %}">{{cours.user.get_full_name}}</a></h6>
    <p class="card-text">سطح: {{cours.level}}</p>
    <p class="card-text">سطح: {{cours.text|safe|truncatewords:5}}</p>
    <p class="card-text">سطح: {{cours.time}}</p>
    <p class="card-text">سطح: {{cours.start_time}}</p>
    <p class="card-text">سطح: {{cours.level}}</p>
    <a href="{% url 'learning:detail' cours.slug %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">توضیحات</a>
  </div>
</div>
</div>
{% endfor %}
</div>
<br><br><hr>
</section>
</div>

{% endblock %}