{% load custom-tag %}

<html lang="fa" dir="rtl">
<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js" integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<section class="text-left mb-4">
<div class="container">
<div class="row">

{% for user in coursesal %}
<div class="col-sm-1 col-md-3 col-lg-3">
    <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; border-radius: 10px; width: auto; height: 230px;">
  <div class="card-body">
    <h5 class="card-title mb-3">اسم دوره: {{user.title}}</h5>
    <p class="card-text">نام مدرس : {{user.teachers|safe}}</p>
    <p class="card-text">سطح: {{user.level}}</p>
    <a href="{% url 'courseSales:CourseSalessDetail' user.slug %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">توضیحات</a>
   </div>
</div>
</div>
{% endfor %}
</div>

</section>
<div class="container">
<a href="{% url 'courseSales:CourseSaless' %}" class="btn btn-primary mb-4 btn-lg active" role="button" aria-pressed="true">دیدن همه فیلم های اموزشی</a>
</div>
</div>