{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
 افزودن|امتحان
{% endblock %}
{% block content %}
<div class="col-md-12">
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">{% block title-meta %}افزودن|امتحان   {% endblock %}</h3>
    </div>
      <form method="post" enctype="multipart/form-data">
        <div class="card-body">
            {% csrf_token %}
                  <div class="row">


                          <div class="col-12">
                      {{ form.title|as_crispy_field }}<br>
                          </div>
                          <div class="col-12">
                            {{ form.teachers|as_crispy_field }}<br>
                        </div>
                          <div class="col-12">
                            {{ form.description|as_crispy_field }}<br>
                        </div>
                        <div class="col-6">
                          {{ form.level|as_crispy_field}}<br>
                        </div>
                        <div class="col-6">
                          {{ form.price|as_crispy_field }}<br>
                        </div>
                        <div class="col-6">
                          {{ form.uploadcourse|as_crispy_field }}<br>
                        </div>
                        
                </div>
                
    
    <button type="submit" class="btn btn-primary">ثبت</button>
              </div>
  </form>
  </div>
</div>
{% endblock %}































