{% extends "learning/base.html" %}
{% load static %}
{% block headerimg %}

<img class="img-fluid" src="{% static 'pic/pexels-pixabay-301920.jpg' %}">
{% endblock %}

{% block content %}
<br><br>
<div class="container">
	<div class="row">
		<div class="col-12 bg-white p-4" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; border-radius: 20px;">
			<p>شما با موفیق خارج شدش برای ورود مجدد <a href="{% url "account:login" %}">دوباره وارد شوید</a></p>
		</div>
	</div>
</div>
<br><br>
{% endblock %}